oom-comments {
  display: block;
  padding: 2em;
}
oom-comments ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
oom-comments li {
  margin: 32px 0;
}
oom-comments article {
  max-width: 600px;
}
oom-comments ul ul {
  margin-left: 64px;
}
oom-comments .comment-avatar {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  float: left;
  margin-right: 14px;
  box-shadow: 0 0 1px #0009;
}
oom-comments .comment-user {
  color: currentColor;
  text-decoration: none;
  display: block;
  position: relative;
}
oom-comments .comment-author {
  position: absolute;
  left: 35px;
  top: 35px;
  background: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: gray;
}
oom-comments .comment-user:hover .comment-username {
  text-decoration: underline;
}
oom-comments .comment-username {
  margin-right: 0.5em;
}
oom-comments .comment-useraddress {
  color: gray;
  font-size: small;
  font-style: normal;
}
oom-comments .comment-time {
  font-size: small;
  display: flex;
  align-items: center;
  column-gap: .4em;
}
oom-comments .comment-time svg {
  width: 1em;
  height: 1em;
  fill: gray;
}
oom-comments .comment-address {
  color: currentColor;
  text-decoration: none;
  display: block;
  margin-top: 0.25em;
}
oom-comments .comment-address:hover {
  text-decoration: underline;
}
oom-comments .comment-body {
  margin-top: 0.5em;
  margin-left: 64px;
  line-height: 1.5;
}
oom-comments .comment-body p {
  margin: 0.5em 0;
}
oom-comments .comment-counts {
  display: flex;
  column-gap: 1em;
  font-size: small;
}
oom-comments .comment-counts > span {
  display: flex;
  align-items: center;
  column-gap: 0.3em;
  color: gray;
}
